/* Style for Google Ads */
.google-ads { margin-bottom: 50px; text-align: center; }

/* apLightBox */
pre { font-size: inherit; overflow-x: auto; word-wrap: normal; }
video { max-width: 100%; height: auto; }

/* fancyFormElements */
label, select { cursor: pointer; margin-right: 10px; }
.rd, .rd1 { background:url(../images/checkbox.png) 0 0 no-repeat; width:19px; height:19px; }
.chk, .chk1 { background:url(../images/chkbox_img.jpg) -15px 3px no-repeat; width:13px; height:15px; padding:3px 0 0 3px; }
.select, .select1, .option { background:url(../images/select_drop2.gif) 0 0 no-repeat; border:0; width:326px; height:25px; padding:0 5px; }

/* Accessible HTML5 Video Module */
.video-wrapper { display: block; margin: 0 auto 50px; position: relative; }
.video-wrapper .video-player { width: 100%; }
.video-wrapper .video-controls--wrapper { background-color: rgba(255, 255, 255, 0.5); bottom: 0	; left: 0; padding: 10px; position: absolute; width: 100%; }
.video-wrapper .video-controls--wrapper.playing { opacity: 0.4; }
.video-wrapper .video-controls--wrapper.playing:hover { opacity: 1; }
.video-wrapper .video-controls--wrapper .progressbar-time--elapsed { float: left; }
.video-wrapper .video-controls--wrapper .progressbar-time--duration { float: right; }
.video-wrapper .video-controls--wrapper .progressbar-progress::before { clear:both; content: ""; display: table; }
.video-wrapper .video-controls--wrapper .progressbar-progress { background-color: #000; height: 4px; width: 100%; }
.video-wrapper .video-controls--wrapper .progressbar-progress::-webkit-progress-value { background-color: #fff; }
.video-wrapper .video-controls--wrapper .progressbar-progress::-moz-progress-bar { background-color: #fff; }
.video-wrapper .video-controls--wrapper .progressbar-progress::progress-value { background-color: #fff; }
